.journey-name , .image {
  position : fixed;

  top:0;
  bottom : 0;
  left :0;
  right: 0;

  margin: auto;

  height: 30px;

  display:none;

  font-size:200%;
  color:white;
  text-align : center;

  font-family: 'Indie Flower', cursive;
  color : #F9BF3B;
}

.image {
  height : 150px;
  width : 150px;
  border-radius : 100%;
  overflow:hidden;
}

.image > img {
  width : 150px;
}
