.wedding-on , .doli , .bride , .groom , .wedding-at ,.the-wedding , .flower, .venue{
  position : fixed;

  top:0;
  bottom:0;
  left:0;
  right: 0;

  margin:auto;
  display:none;

  height : 40px;
  width : 25%;
  text-align:center;
}

.flower {
  height : auto;
}

.wedding-on {
  color:white;
  width : 10%;

  font-family: 'Indie Flower', cursive;
}

.the-wedding {
  color : rgb(250, 240, 136);
  font-size : 300%;
  font-family: 'Frijole', cursive;
}

.doli  {
  width : auto;
  height : auto;
}

.bride , .groom {
  height : 70%;
}

.date , .venue {
  font-size : 160%;
  color : #F89406;
}

.time {
  font-size : 100%;
  color : orangered;

}

.venue {
  width : 15%;
  font-family: 'Chewy', cursive;
}

.wedding-at {
  width : 300px !important;
  height : 300px !important;

  border-radius : 100%;
}

.wedding-at > img {
  width : 400px !important;
  position : relative;
  left : -20px;

  cursor:hand;
  cursor:pointer;
}
