.heart {
  position: fixed;

  top: 6%;
  left: 8%;

  z-index:-1;
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}


.tiny:before , .tiny:after{
  left: 10px;
  width : 10px;

  height: 17px;
}



.normal:before , .normal:after{
  left:12px;
  width : 12px;

  height : 20px;
}

.big:before , .big:after{
  left : 15px;
  width : 15px;

  height : 26px;
}

.huge:before , .huge:after {
  left : 20px;
  width : 20px;

  height: 32px;
}

.massive:before , .massive:after {
  left : 25px;
  width : 25px;

  height : 40px;
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin :100% 100%;
}

.red:before, .red:after {
    background:red;
}

.pink:before , .pink:after {
  background:pink;
}

.chocolate:before , .chocolate:after {
  background:chocolate;
}

.bisque:before , .bisque:after {
  background:bisque;
}

.coral:before , .coral:after {
  background:coral;
}
